.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: 400px;
    /* background-color: #0c0c34; */
    background-image: url("../../assets/images/abstract-gold-wave-line-on-black-background-luxury-style-vector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 4px 5px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 4px 5px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 5px 3px rgba(0,0,0,0.75);
}

.btnAdd{
    padding: 5px;
    padding-left: 5px;
    color: #0febd8;
    border: none;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 3px 4px 5px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 4px 5px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 5px 3px rgba(0,0,0,0.75);
}

.inputTitle{
    background-color: #0d1217 ;
    color: azure;
    padding: 5px;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    margin-right: 5px;
    box-shadow: 3px 4px 5px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 4px 5px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 5px 3px rgba(0,0,0,0.75);
}


.inputTask{
    background-color: #0d1217 ;
    padding: 5px;
    color: azure;
    border: none;
    border-radius: 10px;
    margin-left: 5px;
    box-shadow: 3px 4px 5px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 4px 5px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 5px 3px rgba(0,0,0,0.75);
}

/* Barra scroll */
.ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 200px;
    overflow: auto;
}

.ul::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

.ul::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}

.ul::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(64, 63, 63);  /* creates padding around scroll thumb */
}
.ul::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0);    /* color of the scroll thumb */
}

/* Animacion de vibrar */
.shake {
    animation: shake 0.4s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
10%, 90% {
    transform: translate3d(-1px, 0, 0);
}

20%, 80% {
    transform: translate3d(2px, 0, 0);
}

30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
}

40%, 60% {
    transform: translate3d(4px, 0, 0);
}
}


/* Boton */
